<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>게시글 수정</title>
</head>
<body>
<form th:action="@{/article/{id}/update(id=${article.id})}" method="post">
  <h1>게시글 수정하기</h1>
  <label>
    Board:
    <select name="board-id">
      <option
              th:each="board: ${boards}"
              th:value="${board.id}"
      >[[${board.title}]]
      </option>
    </select>
  </label>
  <div>
    <label>
      제목: <input type="text" name="title" th:value="${article.title}">
    </label>
  </div>
  <div>
    <label>
      내용: <input type="text" name="content" th:value="${article.content}">
    </label>
  </div>
  <div>
    <label>
      비밀번호: <input type="password" name="password">
    </label>
  </div>
<input type="submit" value="수정">
<a th:href="@{/article/{id}(id=${article.id})}">Back</a>
</form>
</body>
</html>